# HELLO WORLD

In [23]:
print("Hello,Python!")

Hello,Python!

# Variables

In [24]:
counter=1000  # an integer
miles=1000.0  # an flaoting point
name="Aryan"  # a string
print(counter,miles,name)
print(miles)
print(name)

1000 1000.0 Aryan
1000.0
Aryan

In [25]:
a,b,c=1,2,"Aryan"
print(a,b,c)

1 2 Aryan

# TypeCasting

In [26]:
a=10.5
print(int(a))

10

# Arithmetic Operation

In [27]:
a,b=2,3
print(a+b)

5

In [28]:
a,b=4,5
print(a*b)

20

In [29]:
a,b=20,5
print(a/b)

4.0

In [30]:
a,b=10,4
print(a-b)

6

In [32]:
a,b=19,5
print(a%b)

4

# Lists

In [65]:
list=['abcd',786,2.23,'john',70.2]
tinylist=[123,'aa']
print (list)
print(list[0])
print(list[1:3])
print(list[2:])
print (tinylist*2)
print (type(list))

print (len(list))

a=[1,2,3]+[4,5,6]
print(a)

print (4 in a)

for x in a: print(x)

['abcd', 786, 2.23, 'john', 70.2]
abcd
[786, 2.23]
[2.23, 'john', 70.2]
[123, 'aa', 123, 'aa']
<class 'list'>
5
[1, 2, 3, 4, 5, 6]
True
1
2
3
4
5
6

# functions in list

In [109]:
a=[1,2,3]
b=[4,5,6]
c=[1,2,3]
print(a==b)     #check both list are same or not
print(a==c)
print(len(a))   #return length of list
print(max(a))   #return max element in list
print(min(a))   #return min element in list

a.append(10)    #add element in list
print(a)
print(a.count(1)) #rteurn element frequency
a.extend(b)     #add lsit b to a
print(a)

print(a.index(1))  #return the lowest index in list that object appears

a.insert(1,12)     #add element at index
print(a)

a.pop(1)           #pop index
print(a)

a.remove(5)        #pop element
print(a)
a.reverse()        #reverse the list
print(a)
a.sort()           #sort the list
print(a)

False
True
3
3
1
[1, 2, 3, 10]
1
[1, 2, 3, 10, 4, 5, 6]
0
[1, 12, 2, 3, 10, 4, 5, 6]
[1, 2, 3, 10, 4, 5, 6]
[1, 2, 3, 10, 4, 6]
[6, 4, 10, 3, 2, 1]
[1, 2, 3, 4, 6, 10]

# Dictionary

In [114]:
dict={}
dict['one']="This is one"
dict[2]="This is two"

tinydict={'name':'Aryan','code':21053012,'dept':'cse'}

print(dict['one'])
print(dict[2])
print(tinydict)
print(tinydict.keys())
print(tinydict.values())

This is one
This is two
{'name': 'Aryan', 'code': 21053012, 'dept': 'cse'}
dict_keys(['name', 'code', 'dept'])
dict_values(['Aryan', 21053012, 'cse'])

In [134]:
employee={1:{'name':'Aryan','salary':50000},
          2:{'name':'Ankur','salary':60000},
          3:{'name':'Manav','salary':70000}}

print (employee.keys())
print (employee.values())

print(employee[1].get('name'))

print(employee.items())

print(len(employee))

dict_keys([1, 2, 3])
dict_values([{'name': 'Aryan', 'salary': 50000}, {'name': 'Ankur', 'salary': 60000}, {'name': 'Manav', 'salary': 70000}])
Aryan
dict_items([(1, {'name': 'Aryan', 'salary': 50000}), (2, {'name': 'Ankur', 'salary': 60000}), (3, {'name': 'Manav', 'salary': 70000})])
3

In [142]:
list1=[1,2,3]
list2=['Aryan','Ankur','Manav']

dict = {list1[i]: list2[i] for i in range(len(list1))}

print(dict)

{1: 'Aryan', 2: 'Ankur', 3: 'Manav'}

In [1]:
dic={1: 'Aryan', 2: 'Ankur', 3: 'Manav'}

list1= list(dic.keys())
list2= list(dic.values())
print(dic)
print(list1)
print(list2)

{1: 'Aryan', 2: 'Ankur', 3: 'Manav'}
[1, 2, 3]
['Aryan', 'Ankur', 'Manav']

# Tuples

In [2]:
tuple1=('abcd',786,2.23,'john',70.2)

tinytuple=(123,'john')

print(tuple1)

print(tuple1[0])

print(tuple1[1:3])

print(tuple1[2:])

print(tinytuple*2)

list = list(tuple1)
print(list)

('abcd', 786, 2.23, 'john', 70.2)
abcd
(786, 2.23)
(2.23, 'john', 70.2)
(123, 'john', 123, 'john')
['abcd', 786, 2.23, 'john', 70.2]