# Pandas - Working with Tabular Data

In [30]:
import numpy as np

In [38]:
pokemons={
    "Pokemon_Height":np.random.randint(1,100,5),
    "Pokemon_Weight":np.random.randint(50,150,5),
    "Pokemon_Power":np.random.randint(200,250,5)
}

In [42]:
import pandas as pd

In [43]:
df=pd.DataFrame(pokemons)
print(df)

   Pokemon_Height  Pokemon_Weight  Pokemon_Power
0              23              99            226
1              93             104            221
2              15              68            237
3              18              82            240
4              81             106            226

In [59]:
df.head(n=3)

   Unnamed: 0  Pokemon_Height  Pokemon_Weight  Pokemon_Power
0           0              23              99            226
1           1              93             104            221
2           2              15              68            237

In [60]:
print(df.columns)

Index(['Unnamed: 0', 'Pokemon_Height', 'Pokemon_Weight', 'Pokemon_Power'], dtype='object')

In [61]:
df.to_csv('pokemons_data.csv',index=False)

In [62]:
df=pd.read_csv('pokemons_data.csv')

In [63]:
df.head()

   Unnamed: 0  Pokemon_Height  Pokemon_Weight  Pokemon_Power
0           0              23              99            226
1           1              93             104            221
2           2              15              68            237
3           3              18              82            240
4           4              81             106            226

In [64]:
df.drop(columns=['Unnamed: 0'])

   Pokemon_Height  Pokemon_Weight  Pokemon_Power
0              23              99            226
1              93             104            221
2              15              68            237
3              18              82            240
4              81             106            226

In [65]:
df.shape

(5, 4)